body {
  margin: 0;
  font-family: "Merriweather", serif !important;
  
}

section{
  margin-bottom: 4%;
}

.card {
  border: none !important;
  margin: 1%;
  border-radius: none;
}


.centered {
  position: absolute;
  top: 50rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rubik Doodle Shadow", system-ui;
}

.HeroTitle {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  text-align: center;
}

.HeroSlogan {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}


.FEATURES .FEATURES-card {
  padding-top: 9%;
  padding-bottom: 9%;
}

.DESIGN img{
  height: 512px;
  width: 512px;
}